.box{
	height:200px;
	width:1200px;
	position:relative;
	color:#b1b1b1;
	border:2px solid #b1b1b1
}

h1{
	font-size:5rem;
	font-family:
}

.logo{
	background-color:white;
	height:200px;
	width:200px;
	border-radius:50%;
	position:absolute;
	left:1000px;
	display:inline-block;
	overflow:hidden;
}
	
.mayden{
	display:inline-block;
}

.lightBlue{
	height:200px;
	width:100px;
	background-color:#298fb0;
	position:absolute;
	top:-30px;
	left:150px;
	transform:rotate(155deg);
}

.green{
	height:200px;
	width:100px;
	background-color:#94ba66;
	position:absolute;
	left:-20px;
	top:-40px;
	transform:rotate(25deg);
	z-index:1;
}

.darkBlue{
	height:200px;
	width:200px;
	background-color:#295074;
	position:absolute;
	top:150px;
	z-index:1;
}

.orange{
	width:70px;
	height:80px;
	background-color:#f27324;
	position:absolute;
	top:50px;
	left:70px;
	z-index:1;
}

.middleBar{
	width:100px;
	height:30px;
	position:absolute;
	top:120px;
	left:50px;
	z-index:2;
	background-color:#ffffff;
}

.curver{
	height:210px;
	background-color:#ffffff;
	width:45px;
	position:absolute;
	z-index:2;
	transform:rotate(25deg);
	top:-5px;
	left:37px;
	border-radius:18px;
}

.rightBar{
	height:210px;
	background-color:#ffffff;
	width:40px;
	position:absolute;
	left:122px;
	z-index:2;
	transform:rotate(155deg);
	top:-10px;
	border-radius:50px 0 0 0;
}