*{
	box-sizing:border-box;
	font-family:Roboto, sans-serif;
}

body{
	min-width:400px;
	background-color:#fffbf6;
}
/*Header and links*/

li{
	list-style:none;
}

a{
	text-decoration:none;
	color:#000000;
}

.container{
	position:relative;
	width:100%;
	overflow:auto;
	margin:0 auto;
}

.container ul{
	display:inline-block;
	float:left;
	width:25%;
	padding:0;
}

.navLinks li,
.social a{
	display:inline-block;
	margin:0 auto;
	width:33.3%;
	float:left;
	text-align:center;
	color:#000000;
	border:2px solid #ffffff;
}

.navLinks li a,
.social a{
	text-decoration:none;
	color:#000000;
	padding:3px;
	transition: background-color 1s;
}

.social a,
.navLinks ul li a{
	animation:mymove 3s;
}

.title{
	border-radius:10px;
	width:50%;
	display:inline-block;
	float:left;
	margin:10px 0 0 0;
	text-align:center;
	z-index:5;
	background-color:#ffffff;
	border:2px solid black;
}

.social{
	display:inline-block;
	float:right;
	width:25%;
}

.navLinks,
.social{
	height:50px;
	margin-top:50px;
}

.navlinks,
.headImage{
	height:700px;
	margin-top:80px;
	z-index:3;
	background-size:contain;
	background:url("background.jpg") no-repeat fixed center;
}

.buttonHolder{
	height:100px;
	width:20%;
	margin:0 auto;
	position:relative;
	top:60px;
	text-align: center;
	background-color:#e6e6e6;
	opacity:0.7;
	border-radius:5px;
	transition:background-color 2s;
}

.buttonHolder div:hover{
	background-color:#999999;
}

.headImage h3{
	position:absolute;
	color:#ffffff;
	bottom:0;
	text-align:center;
	border-radius:5px;
	margin:10px;
	background-color:#36688d;
	font-weight:200;
	opacity:0.7;
}

.logo-CSS,
.logo-HTML {
	animation:leftmove 2s;
}

@keyframes leftmove{
	from {left:-300px;}
	to {left:0}
}

.logo-JS,
.logo-CSM{
	animation:rightmove 2s;
}

@keyframes rightmove{
	from {right:-300px;}
	to {right:0;}
}

.logo-PHP{
	animation:topdown 2s;
}

@keyframes topdown{
	from {top:-600px;}
	to {top:0;}
}

.navLinks li a:hover{
	background-color:#000000;
	border-radius:5px;
	color:#ffffff;
	opacity:0.7;
}

a[href="index.html"]{
	border:2px solid #000000;
}

.social a{
	height:30px;
	background-repeat:no-repeat;
	background-position:center;
	margin-bottom:1px;
}

.twitter{
	background-image:url("twitter.svg");
}

.github{
	background-image:url("github.svg");
}

.linkedIn{
	background-image:url("linkedIn.svg");
}

.title h4{
	color:#808080;
}

.logoBox{
	height:100px;
	position:relative;
	top:360px;
}

div[class^="logo-"]{
	position:relative;
	width:20%;
	float:left;
	height:100%;
	align-content:center;
	padding:0 7%;
}

div[class^="logo-"] img{
	margin:0 auto;
	height:100px;
}

/*content*/

main.container{
	min-height:800px;
	overflow:auto;
}

#bigBox{
	background-color:#f0f3f7;
}

aside{
	float:right;
	height:250px;
	width:30%;
	background-color:#ffffff;
	opacity:0.8;
	border-radius:5px;
	margin:10px 5px 5px 5px;
}

.devTo h3{
	text-align:center;
}

.smPort{
	height:700px;
	width:95%;
	margin:10px;
}

article{
	width:100%;
	margin:10px;
	position:relative;
	min-height:200px;
	background-color:#ffffff;
	opacity:0.8;
	border-radius:5px;
	box-shadow: 0 0 6px 0 hsla(0,0%,0% 0.2);
}

.itemPic{
	width:70%;
	margin:0 auto;
	height:150px;
}

.itemPic img{
	max-width:100%;
	max-height:100%;
	margin:0 auto;
}

.PrimaryPFItem{
	width:65%;
	height:250px;
}

.secondaryPFItem .itemPic{
	height:150px;
}

.itemText h3,
.itemText p{
	margin:3px auto;
}

.itemText{
	position:absolute;
	bottom:0;
}

.smPort h1{
	display:none;
}

.blogs a{
	font-weight:700;
}

.clearfix {
	display:block;
	height:1%;
}

.clearfix:after {
	content:".";
	/*display:block;*/
	height:0;
	clear:both;
	visibility:hidden;
}

/*Footer*/

#foot{
	height:50px;
	border:3px solid #000000;
	padding:5px;
	clear:both;
	position:relative;
}

.email{
	float:left;
	margin:0;
}

.phone{
	float:right;
	margin:0;
}

/*Media Queries*/

@media screen and (max-width:1024px){
	.itemPic{
		width:85%;
	}
}

@media screen and (max-width:900px){
	aside{
		display:none;
	}

	.headImage{
		height:500px;
	}

	.buttonHolder{
		display:none;
	}

	.PrimaryPFItem{
		width:100%;
		height:300px;
	}
	.itemPic{
		width:95%;
		height:230px;
	}

	.social{
		display:none;
	}

	header nav .navLinks{
		position:fixed;
		top:0;
		left:0;
		margin:0 auto;
		width:100%;
		z-index:10;
		background-color:#000000;
		opacity:0.7;
		height:40px;
	}

	.navLinks li a{
		width:33%;
		font-size:2rem;
		color:#ffffff;
		margin:0;
	}

	.navLinks li a:hover{
		border:none;
	}

	.title{
		width:75%;
		float:left;
		margin:40px 10%;
	}

	h1{
		font-size:3.5rem;
	}
	
	main .smPort h1{
		display:block;
		text-align:center;
		margin:0 auto;
		font-size:2.5rem;
	}

	.logoBox{
		display:none;
	}
}

@media screen and (min-width:1280px) {
	.secondaryPFItem .itemPic {
		width:95%;
		height:250px;
	}

	article{
		height:300px;
	}

	.itemText h3{
		font-size:2rem;
	}

	.itemText p{
		font-size:1.2rem;
	}

	.navLinks li a{
		font-size:1.3rem;
	}

	#bigBox{
		height:900px;
	}

	.social a{
		height:40px;
		position:relative;
		top:-15px;
	}

	#portFolio .itemLrg{
		height:350px;
	}
}

@media screen and (max-width:700px){
	.PrimaryPFItem{
		height:300px;
	}
}

@media screen and (max-width:600px){
	.itemPic{
		width:100%;
		height:230px;
	}
}